<!--@hp create html-->
<div class="card">
    <div class="card-header">
      Learning Angular
    </div>
    <div class="card-body">
      <h5 class="card-title">Demo 04 Angular</h5>
      <p class="card-text">Puedes encontrar mayor recursos y tutoriales visitando el blog.</p>
      <a href="http://blog.hadsonpar.com/" target="_blank" class="btn btn-primary">Visitar al Blog</a>
    </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>